@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #efefef;
}

.float-right {

    float: right;

}

.text-uppercase {
    text-transform: uppercase;
}

.mn-float-a-btn {
    position: fixed;
    top: 100%;
    left: 100%;
    margin-top: -86px;
    margin-left: -86px;
    text-align: center;
}

/************** MOVIES PAGE ******************/
.movies-page-container {
    margin: 0;
    padding: 0;
}

.movies-column {
    margin: 0;
    padding: 0;
    text-align: center;
}

.movies-gallery-container {
    width: 100%;
    height: 400px;
    background-color: #000;
    text-align: center;
}

.movies-gallery-container img {
    width: auto;
    height: 400px;
    text-align: center;
}

.movie-comments-container {
    padding-top: 7px;
}

.movie-description-modal {
    text-align: justify;
}

.movie-comment {
    border-top-left-radius: 1.3em;
    clear: left;
    word-wrap: break-word;
    border: 1px solid #f1f0f0;
    padding: 0;
}
.movie-comment-date, .movie-comment-message{
    display: block;
    margin-bottom: 3px;
}
.movie-comment-date{
    font-size: 12px;
}
.movie-comment-message{
    font-size: 12px;
}
/************** FIN MOVIES PAGE ******************/
